@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

input::placeholder {
  color: #c4b5fd;
}

input:focus {
  outline: none;
}
